html,
body,
h1{
  margin:0;
  font-family: 'Inter', sans-serif;
}
body {
  background-color:#bdc3c7;
}
header {
  background-color:#34495e;
  padding: 14px;
 }
 header h1{
  display: inline;
  font-size:22px;
  font-weight: 600;
  color:#ecf0f1;
 }
 nav{
  float: right;
 
 }
 nav ul{
  list-style-type: none;
  padding:0;
  margin: 0;
 }
 nav ul li{
  display: inline-block;
  font-size: 18px;
  font-weight:400;
  color:#ecf0f1;
  margin:4px;
 }

 a,a:active{
  color:#ecf0f1;
  text-decoration: none;
 }
 a:hover{
  text-decoration: underline;
 }
 
/*p {
  padding: 10px;
}*/
.container{
padding: 20px;
display: flex;
}
.list{
  list-style-type:none;
  margin:0;
  padding-left:10px;
}
.images{
  display: grid;
  column-gap: 40px
}
.text-link-color{
  text-decoration: underline;
  font-weight:bold;
  color:#34495E;
}
footer{
  text-align: center;
}